<header>
<nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/populate">Poblar la Base de Datos</a></li>
		<li><a href="/loadRS">Cargar el Sistema de Recomendacion</a></li>
		<li><a href="/recommendedFilmsUser">Recomienda dos Peliculas a un Usuario - RS Basado en Usuarios</a></li>
		<li><a href="/recommendedFilmsItems">Recomienda dos Peliculas a un Usuario - RS Basado en Items</a></li>
		<li><a href="/similarFilms">Tres Peliculas que mas se parecen a otra</a></li>
		<li><a href="/recommendedUsersFilms">Recomienda tres Usuarios a una Pelicula</a></li>		
		<li><a href="/search">Peliculas puntuadas por un Usuario</a></li>
	</ul>
</nav>
</header>
